</head>

<body>

<div class="row">
  <div class="col-md-4">
  		<%= render :partial => "info_usuario" %>


  </div>
  <div class="col-md-8">.
  	
					<%= render :partial => "tabla_establecimientos" %>  
		          	<%= render :partial => "tabla_eventos" %>

  </div>
</div>
   	
 

</body>

