
</head>

  
<div class="container">
  <div class="content">
  <% flash.each do |key, value| %>
        <div class="<%= key %>">
              <%= value %>
        </div>
  <% end %>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <%= render :partial => "login_form" %>
    <!-- end .content --></div>
  <!-- end .container --></div>

